replicaCount: 1

image:
  repository: ras-km/hello-world-ui
  tag: "1.0"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  port: 80

resources: {}

ingress:
  enabled: false